* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
    font-family: Arial, sans-serif;
}

ul, ol {
    list-style: none;
}

.registertext{
    text-decoration: underline;
}
.Navbar{
    padding: 10px;
    padding-left: 15px;
    display: flex;
    background-color:#669B59;
}
/* .remindmelogo{
    padding-top: 10;
    padding-bottom: 10;
} */
.leftphoto{
    width: auto;
    height: 1000px;
}
.middle-content{
    background-color: #032725;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right-panel{
    background-color: #FFFCF5;

    justify-content: space-between;
}